:root {
    --bg-color: #90aead;
    --primary-color: #e65433;
    --secondary-color: #244855;
    --tertiary-color: #fbe9d0;
    --fourth-color: #874f41;
}

/* fonts */
.title {
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: left;
    padding-left: 10px;
    color: var(--tertiary-color);
}


body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}

header {
    display: flex;
    background-color: var(--secondary-color);
}



.search-bar {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    height: 3rem;
}

.top-info {
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    color: var(--secondary-color);
    /* border: 1px solid black; */
    height: 60px;
}

/* Container for all travel options */
.travel-options-list {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 470px;
}

.travel-option {
    display: flex;
    background-color: var(--tertiary-color);
    border: 1px solid var(--fourth-color);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 1px;
    flex: 1 1 0;
    /* ^ allows columns to shrink w/o overflow*/
    min-width: 0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
    width: 310px;
    height: 100%;
    font-family: "Fugaz One", sans-serif;
    font-size: 20px;
    transition: transform 0.3s ease;
    /* transition: color 0.3s; */
}

.travel-option:hover {
    transform: scale(1.04);
    color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
    /* Mobile format -> One column */

    .travel-options-list {
        flex-wrap: wrap;
    }

    .travel-option {
        flex: auto;
        width: 310px;
        height: 25%;
    }
}